<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<form th:method="POST" th:action="@{/user(id=${user.getId()})}" th:object="${user}">
    <label th:for="name">Name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</div>
    <br/>
    <label th:for="surname">Surname: </label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <div style="color: red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Error</div>
    <br/>
    <label th:for="age">Age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Error</div>
    <br/>
    <input type="submit" value="Update">
</form>
</body>
</html>