<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<p th:text="${'Id: '+ user.getId()}">VALUE</p>
<p th:text="${user.getName() + ' ' + user.getSurname()}">VALUE</p>
<p th:text="${'Age: ' + user.getAge()}">VALUE</p>
<br/>
<hr/>
<a th:href="@{/edit(id=${user.getId()})}">Edit user</a>
<form th:method="POST" th:action="@{/delete(id=${user.getId()})}">
    <input type="submit" value="Delete user">
</form>
</body>
</html>